<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Database='behuoo';Data Source='192.168.1.116';User Id='root';Password='root';charset='utf8';pooling=true;Allow Zero Datetime=True"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="ipAdress" value="192.168.1.119"/>
    <add key="port" value="9901"/>
  </appSettings>
</configuration>
